{
    "features": [
        {
            "name": "windows-features",
            "script": "Configure-WindowsFeatures.ps1",
            "requiresAdmin": true,
            "whenSelected": [
                "hyperv",
                "wsl"
            ]
        }
    ],
    "packages": [
        {
            "name": "winget-packages",
            "script": "Install-WingetPackages.ps1"
        },
        {
            "name": "wsl2-state",
            "script": "Configure-WSL2.ps1",
            "whenSelected": [
                "wsl"
            ]
        }
    ],
    "settings": {
        "base": [
            {
                "script": "Set-EnvironmentVariables.ps1"
            },
            {
                "script": "Set-UserHomeAlias.ps1"
            },
            {
                "script": "Install-NerdFont.ps1",
                "requiresPackageGroups": [
                    "base"
                ]
            },
            {
                "script": "Install-WindowsTerminalSettings.ps1",
                "requiresAdmin": true,
                "requiresPackageGroups": [
                    "base"
                ]
            }
        ],
        "developer": [
            {
                "script": "Apply-GitConfig.ps1"
            }
        ],
        "pwsh": [
            {
                "script": "Create-PowerShellProfileSymlink.ps1",
                "requiresAdmin": true
            },
            {
                "script": "Install-OmpConfig.ps1",
                "requiresPackageGroups": [
                    "pwsh"
                ]
            }
        ]
    }
}
