{
    "base": [
        {
            "id": "7zip.7zip",
            "scope": "machine"
        },
        {
            "id": "Git.Git",
            "scope": "user"
        },
        {
            "id": "Microsoft.PowerShell",
            "scope": "user"
        },
        {
            "id": "Microsoft.VisualStudioCode",
            "scope": "user"
        },
        {
            "id": "Microsoft.WindowsTerminal",
            "scope": "user"
        }
    ],
    "poweruser": [
        {
            "id": "gerardog.gsudo",
            "scope": "machine"
        },
        {
            "id": "Git.Git",
            "scope": "user"
        },
        {
            "id": "Microsoft.PowerShell",
            "scope": "user"
        },
        {
            "id": "Microsoft.PowerToys",
            "scope": "user"
        },
        {
            "id": "Microsoft.VisualStudioCode",
            "scope": "user"
        },
        {
            "id": "Microsoft.WindowsTerminal",
            "scope": "user"
        }
    ],
    "browsers": [
        {
            "id": "Google.Chrome.EXE",
            "scope": "user"
        },
        {
            "id": "Microsoft.Edge",
            "scope": "machine"
        },
        {
            "id": "Mozilla.Firefox",
            "scope": "machine"
        }
    ],
    "productivity": [
        {
            "id": "Microsoft.365Copilot",
            "scope": "user"
        },
        {
            "id": "Microsoft.Office",
            "scope": "machine"
        },
        {
            "id": "Microsoft.OneDrive",
            "scope": "user"
        },
        {
            "id": "Microsoft.Teams",
            "scope": "machine"
        }
    ],
    "PowerBI": [
        {
            "id": "Microsoft.PowerBI",
            "scope": "machine"
        }
    ],
    "dev": [
        {
            "id": "Git.Git",
            "scope": "user"
        },
        {
            "id": "GitHub.cli",
            "scope": "user"
        },
        {
            "id": "Microsoft.PowerShell",
            "scope": "user"
        },
        {
            "id": "Microsoft.VisualStudioCode",
            "scope": "user"
        },
        {
            "id": "Python.Python.3.13",
            "scope": "user"
        },
        {
            "id": "Yaak.app",
            "scope": "user"
        }
    ],
    "azure": [
        {
            "id": "Microsoft.Azd",
            "installerType": "wix"
        },
        {
            "id": "Microsoft.AzureCLI",
            "scope": "machine"
        },
        {
            "id": "Microsoft.PowerShell",
            "scope": "user"
        },
        {
            "id": "Microsoft.VisualStudioCode",
            "scope": "user"
        }
    ],
    "wsl": [
        {
            "id": "Microsoft.WSL",
            "installerType": "wix"
        },
        {
            "id": "Canonical.Ubuntu",
            "scope": "user"
        }
    ],
    "docker": [
        {
            "id": "Docker.DockerDesktop",
            "scope": "machine"
        }
    ],
    "multimedia": [
        {
            "id": "OBSProject.OBSStudio",
            "scope": "user"
        },
        {
            "id": "VideoLAN.VLC",
            "scope": "user"
        }
    ],
    "pwsh": [
        {
            "id": "Microsoft.PowerShell",
            "scope": "user"
        },
        {
            "id": "Microsoft.WindowsTerminal",
            "scope": "user"
        },
        {
            "id": "JanDeDobbeleer.OhMyPosh",
            "scope": "user"
        }
    ],
    "tailscale": [
        {
            "id": "Tailscale.Tailscale",
            "scope": "machine"
        }
    ],
    "delinea": [
        {
            "id": "Delinea.DelineaConnectionManager",
            "scope": "machine"
        }
    ],
    "yubico": [
        {
            "id": "Yubico.Authenticator",
            "scope": "machine"
        },
        {
            "id": "Yubico.YubikeyManager",
            "scope": "machine"
        },
        {
            "id": "Yubico.YubiKeyManagerCLI",
            "scope": "machine"
        }
    ],
    "google-drive": [
        {
            "id": "Google.GoogleDrive",
            "scope": "machine"
        }
    ]
}
