{
    "base": [
        {
            "id": "Git.Git",
            "scope": "user"
        },
        {
            "id": "Microsoft.PowerShell",
            "scope": "user"
        },
        {
            "id": "Microsoft.VisualStudioCode",
            "scope": "user"
        },
        {
            "id": "Microsoft.WindowsTerminal",
            "scope": "user"
        }
    ],
    "poweruser": [
        {
            "id": "gerardog.gsudo",
            "scope": "machine"
        },
        {
            "id": "Git.Git",
            "scope": "user"
        },
        "Microsoft.AppInstaller",
        {
            "id": "Microsoft.PowerShell",
            "scope": "user"
        },
        {
            "id": "Microsoft.PowerToys",
            "scope": "user"
        },
        {
            "id": "Microsoft.Sysinternals.Suite",
            "scope": "user"
        },
        {
            "id": "Microsoft.VisualStudioCode",
            "scope": "user"
        },
        {
            "id": "Microsoft.WindowsTerminal",
            "scope": "user"
        }
    ],
    "browsers": [
        {
            "id": "Google.Chrome.EXE",
            "scope": "user"
        },
        {
            "id": "Microsoft.Edge",
            "scope": "user"
        },
        {
            "id": "Mozilla.Firefox",
            "scope": "user"
        }
    ],
    "productivity": [
        {
            "id": "Microsoft.Office",
            "scope": "user"
        },
        {
            "id": "Microsoft.OneDrive",
            "scope": "user"
        },
        {
            "id": "Microsoft.PowerBI",
            "scope": "user"
        },
        {
            "id": "Microsoft.Teams",
            "scope": "user"
        },
        {
            "id": "Microsoft.365Copilot",
            "scope": "user"
        }
    ],
    "development": [
        {
            "id": "Git.Git",
            "scope": "user"
        },
        {
            "id": "GitHub.cli",
            "scope": "user"
        },
        {
            "id": "Microsoft.Azd",
            "scope": "user"
        },
        {
            "id": "Microsoft.AzureCLI",
            "scope": "user"
        },
        {
            "id": "Microsoft.PowerShell",
            "scope": "user"
        },
        {
            "id": "Microsoft.VisualStudioCode",
            "scope": "user"
        },
        {
            "id": "Python.Python.3.13",
            "scope": "user"
        }
    ],
    "docker": [
        {
            "id": "Docker.DockerDesktop",
            "scope": "user"
        }
    ],
    "multimedia": [
        {
            "id": "OBSProject.OBSStudio",
            "scope": "user"
        },
        {
            "id": "VideoLAN.VLC",
            "scope": "user"
        }
    ],
    "pwsh": [
        {
            "id": "JanDeDobbeleer.OhMyPosh",
            "scope": "user"
        }
    ],
    "wsl": [
        {
            "id": "Microsoft.WSL",
            "scope": "user"
        },
        {
            "id": "Canonical.Ubuntu",
            "scope": "user"
        } 
    ]
}
