{
    "Packages": [
        "9MV8F79FGXTR",
        "9NZCC27PR6N6"
        ],
    "base": [
        "Microsoft.WindowsTerminal",
        "Microsoft.VisualStudioCode",
        "Git.Git",
        "Microsoft.PowerShell",
        "gerardog.gsudo",
        "Microsoft.Edge"
    ],
    "poweruser": [
        "Microsoft.VisualStudioCode",
        "Git.Git",
        "Microsoft.WindowsTerminal",
        "Microsoft.PowerShell",
        "gerardog.gsudo",
        "Microsoft.WindowsPackageManager",
        "Microsoft.Powertoys",
        "Microsoft.Sysinternals",
        "JanDeDobbeleer.OhMyPosh"
    ],
    "browsers": [
        "Microsoft.Edge",
        "Google.Chrome",
        "Mozilla.Firefox"
    ],
    "productivity": [
        "Microsoft.Office",
        "Microsoft.OneDrive",
        "Microsoft.Teams",
        "Microsoft.PowerBI"
    ],
    "development": [
        "Microsoft.VisualStudioCode",
        "Git.Git",
        "Microsoft.AzureCLI",
        "Microsoft.azd",
        "Microsoft.PowerShell",
        "Python.Python.3.13",
        "GitHub.cli",
        "Microsoft.DevHome"
    ],
    "multimedia": [
        "VideoLAN.VLC",
        "OBSProject.OBSStudio"
    ],
    "wsl": [
        "Microsoft.WindowsSubsystemForLinux",
        "Canonical.Ubuntu"
    ],
    "docker": [
        "Docker.DockerDesktop"
    ]
}
